.container{
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: stretch;
}
.card{
  margin: 5px;
  height: 100%; 
}
.example-icon {
  padding: 0 14px;
}
  
.icon-spacer {
  flex: 1 1 auto;
}
.viewport{
  width: 100%;
  height: 100%;
  margin: auto;
}